.sign-in{
   width: 30vw;
   display: flex;
   flex-direction: column;

   border: 2px solid #fff;
   padding: 1rem;
   border-radius: 0.25rem;
   transition: all 0.3s linear;

   &:hover {
      box-shadow: 0 10px 15px rgb(0, 0, 0);
   }

   .title {
      margin: 10px 0;
   }
}

